[submodule "vim/bundle/vim-pathogen"]
	path = vim/bundle/vim-pathogen
	url = https://github.com/tpope/vim-pathogen.git
[submodule "vim/bundle/vim-colorschemes"]
	path = vim/bundle/vim-colorschemes
	url = https://github.com/flazz/vim-colorschemes.git
[submodule "vim/bundle/vim-deep-space"]
	path = vim/bundle/vim-deep-space
	url = https://github.com/tyrannicaltoucan/vim-deep-space.git
[submodule "vim/bundle/nerdtree"]
	path = vim/bundle/nerdtree
	url = https://github.com/scrooloose/nerdtree.git
[submodule "vim/bundle/nerdcommenter"]
	path = vim/bundle/nerdcommenter
	url = https://github.com/scrooloose/nerdcommenter.git
[submodule "vim/bundle/python-mode"]
	path = vim/bundle/python-mode
	url = https://github.com/klen/python-mode.git
[submodule "vim/bundle/vim-tmux-navigator"]
	path = vim/bundle/vim-tmux-navigator
	url = https://github.com/christoomey/vim-tmux-navigator.git
[submodule "zim/modules/history-substring-search/external"]
    path = zim/modules/history-substring-search/external
    url = https://github.com/zsh-users/zsh-history-substring-search.git
[submodule "zim/modules/completion/external"]
    path = zim/modules/completion/external
    url = https://github.com/zsh-users/zsh-completions.git
[submodule "zim/modules/syntax-highlighting/external"]
    path = zim/modules/syntax-highlighting/external
    url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "zim/modules/prompt/external-themes/pure"]
    path = zim/modules/prompt/external-themes/pure
    url = https://github.com/sindresorhus/pure.git
[submodule "zim/modules/prompt/external-themes/liquidprompt"]
    path = zim/modules/prompt/external-themes/liquidprompt
    url = https://github.com/nojhan/liquidprompt.git
[submodule "zim/modules/prompt/external-themes/lean"]
    path = zim/modules/prompt/external-themes/lean
    url = https://github.com/miekg/lean
[submodule "zim/modules/autosuggestions/external"]
    path = zim/modules/autosuggestions/external
    url = https://github.com/zsh-users/zsh-autosuggestions.git
[submodule "vim/bundle/vim-tmux-clipboard"]
	path = vim/bundle/vim-tmux-clipboard
	url = https://github.com/roxma/vim-tmux-clipboard.git
[submodule "vim/bundle/vim-tmux-focus-events"]
	path = vim/bundle/vim-tmux-focus-events
	url = https://github.com/tmux-plugins/vim-tmux-focus-events.git
[submodule "vim/bundle/Vundle.vim"]
	path = vim/bundle/Vundle.vim
	url = https://github.com/VundleVim/Vundle.vim.git
[submodule "tmux/plugins/tmux-yank"]
	path = tmux/plugins/tmux-yank
	url = https://git::@github.com/tmux-plugins/tmux-yank
[submodule "tmux/plugins/tmux-better-mouse-mode"]
	path = tmux/plugins/tmux-better-mouse-mode
	url = https://git::@github.com/nhdaly/tmux-better-mouse-mode
[submodule "tmux/plugins/tpm"]
	path = tmux/plugins/tpm
	url = https://github.com/tmux-plugins/tpm
[submodule "tmux/plugins/vim-tmux-navigator"]
	path = tmux/plugins/vim-tmux-navigator
	url = https://git::@github.com/christoomey/vim-tmux-navigator
